mixin footer()
	+b.FOOTER.footer.block-with-lazy
		.container
			.row
				.mobileOrder-1.col-md-4
					+e.A.logo(href="#")
						+icon('logo')
						+e.DIV.brand Урал Маф
						+e.DIV.descr.d-none.d-md-block Малые архитектурные формы: производим в&nbsp;Магнитогорске, реализуем по&nbsp;России и&nbsp;СНГ
				.mobileOrder-2.col-md-2.col-xl
					+e.UL.map
						li: a(href="#") О компании
						li: a(href="#") Доставка
						li: a.borderBottom(href="#") Получить каталог

				.mobileOrder-4.col-md
					+e.workWrap
						+e.workTime Звоните
						p пн-пт: с 7:00 до 19:00 по МСК, выходной:&nbsp;сб-вс

				.mobileOrder-3.col-md-3.text-right
					+e.telephone
						+e.messengers.d-none.d-lg-flex
							+e.A.whatsapp(href="https://wa.me/73519454515")
								+icon('whatsapp')
							+e.A.viber(href="viber://add?number=73519454515")
								+icon('viber')
						+e.A.tel(href="tel:7(3519)45-45-15") 7 (3519) 45-45-15
					+e.A.call.link-modal(href="#") Заказать звонок менеджера
				.mobileOrder-5.col-md-4
					+e.adres Юридический адерс и реквизиты
					p 455026, Челябинская область, г.&nbsp;Магнитогорск, ул. Клары Цеткин,&nbsp;д.12/1 ИНН&nbsp;XXXXXXXXXX ОГРН&nbsp;XXXXXXXXXXXXXX
				.col-md-2
				.mobileOrder-6.col-md-3
					+e.UL.polite 
						li: a(href="") Политика конфиденциальности
						li: a(href="") Пользовательское соглашение
						li: a(href="") Карта сайта
				.mobileOrder-7.col-md-3
					+e.develop Разработка и продвижение сайта: #[a(href="#") Веб-студия «Барс»]
					+b.develop-link(href="#" target="_blank")
						+e.panel
							img.img-1(src="img/svg/hand.svg", alt="")
							img.img-2(src="img/svg/logo-text.svg", alt="")

