mixin sForm(h2,h4)
	// start sForm
	+b.sForm&attributes(attributes)
		+pic('formBg.jpg', 'bg', 'lazy')(class="picture-bg")
		.container
			if h2
				.h2= h2
			else
				.h2 Если вы&nbsp;не&nbsp;нашли&nbsp;то, что нужно, мы&nbsp;изготовим формы и&nbsp;#[span сделаем изделия специально&nbsp;для&nbsp;вас]
			if h4
				.h4= h4
			else
				.h4 Расскажите о&nbsp;задаче&nbsp;&mdash; рассчитаем стоимость&nbsp;изготовления изделий&nbsp;и&nbsp;подготовим коммерческое&nbsp;предложение
			.row
				+e.col.col-lg-6
					+e.imgWrap.d-none.d-lg-block
						+pic('founder.png', '', '', '')(class="sForm__founder")
						//- +e.founder.lazy(src="#" data-src="img/@2x/founder.png", alt="")
						+e.label
							+e.name Михаил Паламарчук
							+e.position Сооснователь компании ООО «УралМаф»
					+e.founderSm.d-lg-none
						+e.founderImg.lazy(src="#" data-src="img/@2x/founder-sm.png", alt="Михаил Паламарчук")
						+e.nameWrap
							+e.nameSm Михаил Паламарчук
							+e.positionSm Сооснователь компании ООО&nbsp;«УралМаф»

				.col
					+e.head-text 
						+form-wrap("Получить каталог и прайс")
							+inputName()
							+form-tabs()
							+e.btn.btn(type="submit") 
								span.bg.d-none.d-lg-flex обсудить задачу
								span.bg.d-lg-none заказать
							+polite
			block
	// end sForm

mixin sForm-modal(h2,h4)
	// start sForm
	+b.sForm&attributes(attributes)
		+e.PICTURE.imgWrap--bg.lazy-modal--js.picture-bg
			source(media="(min-width: 576px)", data-srcset="img/@2x/webp/formBg.webp", type=`image/webp`, srcset="#")
			source(media="(min-width: 576px)", data-srcset="img/@2x/formBg.jpg", type=`image/jpg` srcset="#")
			source(data-srcset="img/@1x/webp/formBg.webp", type=`image/webp`, srcset="#")
			img(src="#" data-src="img/@1x/formBg.jpg", alt="")
		//- +pic('formBg.jpg', 'bg', '')(class="picture-bg")
		.container
			if h2
				.h2= h2
			else
				.h2 Если вы&nbsp;не&nbsp;нашли&nbsp;то, что нужно, мы&nbsp;изготовим формы и&nbsp;#[span сделаем изделия специально&nbsp;для&nbsp;вас]
			if h4
				.h4= h4
			else
				.h4 Расскажите о&nbsp;задаче&nbsp;&mdash; рассчитаем стоимость&nbsp;изготовления изделий&nbsp;и&nbsp;подготовим коммерческое&nbsp;предложение
			.row
				+e.col.col-lg-6
					+e.imgWrap.d-none.d-lg-block
						+e.PICTURE.founder.imgWrap.lazy-modal--js
							source(media="(min-width: 576px)", data-srcset="img/@2x/webp/founder.webp", type=`image/webp`, srcset="#")
							source(media="(min-width: 576px)", data-srcset="img/@2x/founder.png", type=`image/png` srcset="#")
							source(data-srcset="img/@1x/webp/founder.webp", type=`image/webp`, srcset="#")
							img(src="#" data-src="img/@1x/founder.png", alt="")
						//- +e.founder.lazy-modal--js(src="#" data-src="img/@2x/founder.png", alt="")
						+e.label
							+e.name Михаил Паламарчук
							+e.position Сооснователь компании ООО «УралМаф»
					+e.founderSm.d-lg-none
						+e.founderImg.lazy-modal--js(src="#" data-src="img/@2x/founder-sm.png", alt="")
						+e.nameWrap
							+e.nameSm Михаил Паламарчук
							+e.positionSm Сооснователь компании ООО&nbsp;«УралМаф»

				.col
					+e.head-text 
						+form-wrap("Получить каталог и прайс")
							+inputName()
							+form-tabs()
							+e.btn.btn(type="submit") 
								span.bg.d-none.d-lg-flex обсудить задачу
								span.bg.d-lg-none заказать
							+polite
		block