.modalDelivery {
	padding: rem(30) rem(0) rem(70) rem(0);
	@include media-breakpoint-up(md) {
		padding: rem(45) rem(130) rem(123) rem(130);
	}

	.icon-info {
		font-size: rem(20);
		margin-right: rem(11);
		@include media-breakpoint-up(sm) {
			font-size: rem(23);
			margin-right: rem(15);
		}
		color: #3ba1ff;
	}

	.icon-verificado {
		font-size: rem(29);
		color: $success;
		margin-right: rem(14);
		@include media-breakpoint-down(md) {
			display: block;
			margin-left: auto;
			margin-right: auto;
			margin-top: rem(50);
		}
	}

	&__car,
	&__packaging {
		display: block;
		@include media-breakpoint-down(sm) {
			max-width: rem(150);
			margin-left: auto;
			margin-right: auto;
			margin-bottom: rem(6);
		}
	}

	h2 {
		max-width: rem(640);
		text-align: center;
		margin-left: auto;
		margin-right: auto;
		font-weight: 400;
		margin-bottom: rem(27);
		@include media-breakpoint-up(md) {
			margin-bottom: rem(20);
		}
		@include media-breakpoint-up(md) {
			line-height: rem(50px);
			margin-bottom: rem(78);
		}

		@include media-breakpoint-down(md) {
			font-size: rem(24);
		}
	}

	&__row {
		@include media-breakpoint-up(xl) {
			padding-bottom: rem(60);
		}

		.h5 {
			@include media-breakpoint-up(xl) {
				padding-left: rem(40);
			}
		}
	}

	.h5 {
		max-width: rem(250);
		line-height: rem(22px);
		@include media-breakpoint-up(sm) {
			max-width: rem(380);
			line-height: rem(28px);
		}

		&:first-child {
			padding-top: rem(7);
			margin-bottom: rem(22);
			@include media-breakpoint-up(sm) {
				margin-bottom: rem(30);
			}
		}

		@include media-breakpoint-down(sm) {
			font-size: rem(15);
			padding-left: rem(16);
		}
	}

	// .modalAbout__col {
	// 	padding-top: rem(26);
	// 	padding-right: rem(80);
	// }
	h3 {
		text-align: center;
		margin-top: rem(20);
		@include media-breakpoint-up(md) {
			margin-top: rem(70);
		}
		font-weight: 400;
		max-width: rem(672);
		margin-left: auto;
		margin-right: auto;
	}

	&__head {
		padding: rem(40) rem(0);
		@include media-breakpoint-up(md) {
			padding: rem(43) rem(100) rem(89) rem(100);
		}
		.h5 {
			max-width: rem(390) !important;
			margin-bottom: rem(23) !important;
			@include media-breakpoint-up(xl) {
				margin-left: rem(30);
			}
		}
	}

	&__cement {
		@include media-breakpoint-up(xl) {
			margin-left: rem(90);
		}
		@include media-breakpoint-down(sm) {
			max-width: rem(135);
			margin-left: auto;
			margin-right: auto;
			display: block;
		}
	}

	&__karcher {
		@include media-breakpoint-up(lg) {
			margin-top: rem(-60);
		}
		@include media-breakpoint-up(xl) {
			margin-left: rem(30);
		}

		@include media-breakpoint-down(sm) {
			max-width: rem(120);
			margin-left: auto;
			margin-right: auto;
			display: block;
		}
	}

	&__vazons {
		@include media-breakpoint-up(lg) {
			margin-top: rem(-80);
		}
		@include media-breakpoint-up(xl) {
			margin-left: rem(-40);
		}

		@include media-breakpoint-down(sm) {
			max-width: rem(205);
			margin-left: auto;
			margin-right: auto;
			display: block;
		}
	}

	&__pt {
		padding-top: rem(22);
	}

	&__type {
		margin-top: rem(20);
		max-width: rem(450);
		margin-left: auto;
		margin-right: auto;
		text-align: center;
		margin-bottom: rem(42);
		font-size: rem(20);
		font-weight: 400;
	}

	&--concrete {
		max-width: rem(1200);
		padding: 0 !important;
		overflow: hidden;
		.picture-bg {
			z-index: 0;
		}

		h2 {
			max-width: rem(840);
			margin-bottom: rem(21) !important;
		}

		h4 {
			color: $secondary;
			text-align: center;
			margin-bottom: rem(33);
		}

		.form-wrap {
			z-index: 3;
		}

		.h2,
		.h4 {
			position: relative;
		}

		.tabs__btn {
			margin-left: 0;
			&:nth-child(2) {
				@include media-breakpoint-up(md) {
					border-radius: 0 !important;
				}
			}

			&:last-child {
				@include media-breakpoint-down(sm) {
					border-radius: rem(6);
				}
			}
		}
	}

	.sForm {
		padding-bottom: rem(50);
		// margin-right: rem(-110);
		// margin-left: rem(-110);
		&__founder {
			z-index: 1;
		}

		&__clouds {
			position: absolute;
			width: 130%;
			margin-left: rem(-120);
			@include media-breakpoint-up(xl) {
				margin-left: rem(-20);
			}
			bottom: rem(-10);
			z-index: 1;
		}

		&__head-text {
			margin-left: 0;
			margin-right: 0;
		}
	}

	&__materials {
		.h5 {
			padding-top: rem(20);
			margin-left: 0 !important;
			padding-left: 0 !important;
		}

		img {
			@include mt;
			&:hover {
				transform: scale(1.05);
			}
		}
	}
}
