mixin sAdvantages()
	// start sAdvantages
	+b.sAdvantages#sAdvantages&attributes(attributes)
		.container
			+e.item
				+icon('verificado')
				+e.textWrap
					.h6 Антивандальные:
					p изделие массой 100-500&nbsp;кг не&nbsp;унесут&nbsp;и&nbsp;не&nbsp;перевернут
			+e.item
				+icon('verificado')
				+e.textWrap
					.h6 Срок службы более 10 лет:
					p мороз, жара, солнце и&nbsp;вода камень&nbsp;не&nbsp;разрушат
			+e.item
				+icon('verificado')
				+e.textWrap
					.h6 Фактура и&nbsp;форма под заказ:
					p помогут реализовать оптимальное решение для&nbsp;любого дизайн-проекта
	// end sAdvantages