extends layout/main.pug


include ../blocks/sContent/_sContent.pug
include ../blocks/sCatalog/_sCatalog.pug 
include ../blocks/sAdvantages/_sAdvantages.pug 
include ../blocks/sDelivery/_sDelivery.pug 
include ../blocks/sThanks/_sThanks.pug 

block variables
	- let  mainPage= 'innerPage'
block title
	- let  title= 'Урал Маф'
	title= title
block pagecontent 
	//- +mob-mnu()
	+header()
		+pic('header-bg.png', 'bg', 'lazy')(class="picture-bg")
		+topLine()
		//- +headerBlock()
		//- +top-nav()
	.container
		a.backToMain(href="#") Вернуться на сайт
	+sThanks()
		+b.section-title.text-center
			+icon('verificado')
			h1 Спасибо, мы&nbsp;приняли вашу заявку!
			h3 Мы&nbsp;уже отправили ссылку на&nbsp;каталог по&nbsp;указанному&nbsp;адресу.
			h4 Если вы&nbsp;не&nbsp;нашли&nbsp;то, что нужно, расскажите нам о&nbsp;задаче,&nbsp;мы рассчитаем стоимость изготовления изделий&nbsp;и подготовим коммерческое предложение.
			h4 Удачного дня!
	+sThanks()
		+b.section-title.text-center
			+icon('verificado')
			h1 Спасибо, мы&nbsp;приняли вашу заявку!
			h3 Менеджер компании перезвонит вам в&nbsp;течение рабочего дня и&nbsp;ответит на&nbsp;ваши вопросы.
			h4 Удачного дня!
	//- +sAdvantages()(class="d-flex d-lg-none")
	//- +sCatalog()
	//- +sForm()
	//- +sDelivery()
	+footer()