mixin sThanks()
	// start sThanks
	+b.SECTION.sThanks.section#sThanks&attributes(attributes)
		.container
			+b.section-title.text-center
				+icon('verificado')
				h1 Спасибо, мы&nbsp;приняли вашу заявку!
				!= '<?php if(isset($_POST["catalog"])) { ?>'
				h3 Мы&nbsp;уже отправили ссылку на&nbsp;каталог по&nbsp;указанному&nbsp;адресу.
				h4 Если вы&nbsp;не&nbsp;нашли&nbsp;то, что нужно, расскажите нам о&nbsp;задаче,&nbsp;мы рассчитаем стоимость изготовления изделий&nbsp;и подготовим коммерческое предложение.
				!= '<?php } else{	  ?>'
				h3 Менеджер компании перезвонит вам в&nbsp;течение рабочего дня и&nbsp;ответит на&nbsp;ваши вопросы.
				!= '<?php	} ?>'
				h4 Удачного дня!

mixin sThanks2()
	// start sThanks
	+b.SECTION.sThanks.section#sThanks&attributes(attributes)
		.container
			+b.section-title.text-center
				+icon('verificado')
				h1 Спасибо, мы&nbsp;приняли вашу заявку!
				h4 Удачного дня!
	// end sThanks
