mixin sDelivery()
	// start sDelivery
	+b.SECTION.sDelivery.section#sDelivery&attributes(attributes)
		.container
			+e.advantages
				+e.item
					+icon('verificado')
					+e.textWrap
						.h6 доставка
						p по России, Казахстану, СНГ
				+e.item
					+icon('verificado')
					+e.textWrap
						.h6 Отсутствие ограничения
						p на минимальное количество заказа
				+e.item
					+icon('verificado')
					+e.textWrap
						.h6 Компенсируем до 50%
						p от стоимости доставки оптовым покупателям
	// end sDelivery