.itemProd {
	margin-top: rem(20);
	margin-bottom: rem(70);
	overflow: hidden;
	border: 1px solid #e9ecf5;
	padding: rem(20) rem(7) rem(42);
	height: 100%;
	position: relative;
	@include mt;
	box-shadow: 0 2px 25px 7px transparent;

	&:hover {
		box-shadow: 0 2px 25px 7px rgba(48, 48, 48, 0.05);
	}

	&__availability {
		text-align: right;
		padding-right: rem(10);
		position: relative;
		color: $success;
		font-size: $small;
		font-weight: 300;
		&::after {
			content: '';
			position: absolute;
			@include a-cent(y);
			right: rem(85);
			background-color: $success;
			width: rem(10);
			height: rem(10);
			border-radius: 50%;

		}
		&--empty {
			opacity: 0;
		}
	}

	.h4 {
		padding-left: rem(16);
		font-weight: 700;
		line-height: rem(30px);
		span {
			font-weight: 400;
			display: block;
		}
	}

	table {
		width: 60%;
		margin-left: rem(16);
		line-height: rem(28px);
		margin-bottom: rem(30);

		td {
			&:first-child {
				color: $light;
			}
			&:last-child {
				color: #333333;
			}
		}
	}

	&__imgWrap {
		position: relative;
		width: rem(360);
		height: rem(309);
		img {
			@include a-cent;
		}
	}

	.h5 {
		font-weight: 700;
		margin-bottom: rem(32);
	}

	&__materials {
		padding-left: rem(16);
		padding-bottom: rem(30);
		img {
			margin-right: rem(6);
		}
	}

	&__btn {
		width: calc(100% - 7px);
		padding: rem(33);
		&::before {
			height: rem(80);
		}
	}

}