.tabs {
	position: relative;
	&__caption {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		padding-bottom: rem(106);
	}

	&__vazons {
		position: absolute;
		left: rem(-68);
		top: 10%;
		background-color: #fff;
		padding: rem(21) rem(32) rem(18) rem(20);
		box-shadow: 0 2px 25px 7px rgba(48, 48, 48, 0.05);
		display: flex;
		max-width: rem(260);
		border-radius: 6px;
		z-index: 2;
	}

	.icon-info {
		font-size: rem(30);
		color: #3ba1ff;
		margin-right: rem(10);
	}

	&__btn {
		width: rem(210);
		min-height: rem(83);
		padding-left: rem(15);
		padding-right: rem(15);
		text-align: center;
		display: flex;
		align-items: center;
		justify-content: center;
		color: $light;
		line-height: $h5-font-size;
		border: 1px solid #e9ecf5;
		@include mt;

		&.active {
			color: #fff;
			background-color: #ebebeb;
			background-image: linear-gradient(-8deg, $primary 0%, #80c2ff 100%);
		}

		&:first-child {
			border-radius: 6px 0 0 6px;
		}

		&:last-child {
			border-radius: 0 6px 6px 0;
		}

		&:hover:not(.active) {
			color: $body-color;
		}
	}

	&__allProd {
		display: block;
		max-width: rem(382);
		padding-top: rem(33);
		padding-bottom: rem(31);
		margin-left: auto;
		margin-right: auto;
		margin-top: rem(56);
		margin-bottom: rem(40);
		&::before {
			height: rem(80);
		}
	}

	.h6 {
		font-weight: 300;
		color: $secondary;
		line-height: rem(26px);
		max-width: rem(770);
		margin-left: auto;
		margin-right: auto;
		text-align: center;
	}

	.swiper-button-next,
	.swiper-button-prev {
		top: 98%;
		color: #fff;
		border-radius: 50%;
		width: rem(36);
		height: rem(36);
		background-image: linear-gradient(-8deg, $primary 0%, #80c2ff 100%);
		&::after {
			font-size: rem(15);
		}
		z-index: 15;
	}

	.swiper-button-next {
		right: 40%;
	}

	.swiper-button-prev {
		left: 40%;
	}

	.swiper-pagination-bullet {
		background-color: #cecece;
		width: rem(6);
		height: rem(6);

		&-active {
			box-shadow: inset 0 0 2px rgba(255, 255, 255, 0.35);
			background-image: linear-gradient(to top, #51bcc0 0%, #9bd8db 100%);
		}
	}
}
