mixin topLine()
	// start topLine
	+b.topLine#topLine&attributes(attributes)
		.container
			.row.justify-content-between
				.col-auto
					+e.A.logo(href="/")
						+icon('logo')
						+e.DIV.brand Урал Маф
						+e.DIV.descr.d-none.d-lg-block Малые архитектурные формы: производим в&nbsp;Магнитогорске, реализуем по&nbsp;России и&nbsp;СНГ
				.col.order-lg-last.text-right
					+e.telephone
						+e.messengers.d-none.d-sm-flex
							+e.A.whatsapp(href=`https://wa.me/${telnumber}` target="_blank")
								+icon('whatsapp')
							+e.A.viber(href=`viber://add?number=${telnumber}`   data-desktop=`viber://chat?number=${telnumber}` target="_blank")
								+icon('viber')
						+e.A.tel(href=`tel:+${telnumber}`) 7 (912) 805-45-15
					+e.A.call.link-modal(href="#modal-call" data-order="Заказать  звонок менеджера") Заказать  звонок #[span.d-none.d-lg-inline менеджера]
				.col-lg.d-flex
					+e.imgWrap.d-none.d-lg-block
						img.res-i.lazy(src="#" data-src="img/@2x/semiprecious-stones.png", alt="")
					+e.text
						+e.A.concrete.link-modal(href="#modalConcrete"  data-order="Что за бетон с полудрагоценными камнями?") Что за&nbsp;бетон с&nbsp;полудрагоценными камнями?
				+e.col.col-lg-auto.order-lg-3
					+e.delivery
						a.link-modal(href="#modalDelivery") Доставка
					+e.about
						a.link-modal(href="#modalAbout"  data-order="О компании") О компании



	// end topLine